/*  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSgAviyfRmd9XDjKkRfHx_P_LNnOJs-3fqCg&s');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  nav {
    background-color: #333;
    padding: 10px 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
  }
  
  nav ul li a:hover {
    color: red;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
  }
    */